.basics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.heading {
  text-align: center;
  padding: 20px;
}
.inputfield {
  display: flex;
  gap: 5px;
  margin: 10px;
  padding: 20px;
  justify-content: space-around;
  background-color: rgba(64, 186, 243, 0.603);
  border-radius: 10px;
}
.main {
  margin: 10px;
  padding: 10px;
}
body {
  background-image: url("https://wallup.net/wp-content/uploads/2017/11/17/301412-Pokemon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.card {
  background-image: linear-gradient(
    rgb(143, 209, 240) 40%,
    rgb(152, 255, 83) 60%
  );
  max-width: 445px;
}
.pokimg {
  width: 100px;
}
